@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); 

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;    
}
.main-sec{
   /* background-image: url(/image/bg-img.jpg);  */
   height: 453px;
   margin: 0 0 48px;
   text-align: center;
   background-position: center;           
   justify-content: center;
   background-size: cover;
}
.pri-btn
{
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}
.L-btn
{
   color: white;
   text-decoration: none;
   font-size: 15px;
   font-weight: 200;
   margin: 10px;
}
.s-btn{
   border: 2px solid white;
   padding: 5px;
}
.logo{
  padding-top:70px;
}
.logo-txt
{
    font-size: 70px;
    color: #eb2929;
    background: white;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: 0% 0% 21px 45%;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;    
}
.Tag-line
{
    font-size: 35px;
    color: white;
    padding-top: 10px;
    font-weight: 800;
    font-family: "Roboto";
}
.location , .search-bar
{
 display: inline-block;
 margin: 10px;
}

.location-icon{
    position: relative;
    left: 30px;
    color: #a95454;
    font-size: 25px;
}
.location>select
{
       
       height: 51px;
       font-size: 15px;
       padding: 10px 40px;
       border-radius: 10px 0px 0px 10px ;
       border: none;   
}
.down-icon
{
    position: relative;
    right: 26px;
    font-size: 11px;
    color: #86817a;
}
.hori-line
{
    transform: rotate(90deg);
    color: darkred;
    position: relative;
    right: 5px;
    opacity: 70%;
}
.search-bar{
    font-size: 15px;    
    vertical-align: top;
    margin-left: -62px;
 
}
.search-bar>input {
   width: 400px;
    font-size: 15px;
    height: 51px;
    padding-left: 90px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}
.search-icon{
position: relative;
left: 74px;
font-size: 20px;
color: #bd6f6f;
font-weight: 500;
}

.Heading{
        font-size: 30px;
        color: darkblue;  
}
.Heading>p{    
    margin-bottom: 0px;
}
.subheading
{
    color: #8c96ab;
    font-size: 18px;
}
.rectangle-sec{
    display: inline-block;
    height: 95%;
    width: 98%;
    border-radius:  2% ;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%); 
}
.img-sec{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: 100%;   
    padding: 1px 0px 0px 10px;
}
.img-sec>img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 3px 2px 5px #7a7785;
}
.text-sec{    
    vertical-align: top;
    display: inline-block;
    margin: 21px 0px 0px 13px;
    width: 50%;
}
.text-1{
    color: #192f60;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.text-2{
    color: #8c96ab;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}


@media only screen and (min-width: 735px) and (max-width:1150px) {
    .pri-btn{   
        margin-right: 20px;
    }
    .text-sec{
        margin: 21px 0px 0px 20px;
    }
  .img-sec>img{
      height: 120px;
      width: 120px;
  }
      
   

}
@media only screen and (min-width: 300px)  and (max-width:735px){
.pri-btn{
  display: none;
}
.logo{
    padding-top: 100px;
}
.logo-txt{    
    margin: 0% 0% 21px 35%;      
}
.Tag-line{
    font-size: 23px;
}
.main-sec{
    height: 100%;
}
.location{
      width: 80%;
}
.location>select{         
        width: 80%;
         font-size: 12px;
         border-radius: 0px 0px 0px 0px ;    
}
.hori-line{
      display: none;
} 
.search-bar{
    width: 100%;
    margin-left: -12px;
}
.search-bar>input{
    border-radius: 0px;
    padding-left: 40px;
    width: 65%;
    font-size: 12px;
}
.search-icon{    
   left: 30px;
}
.main-heading{
    text-align: center;
}
.Heading{
    font-size: 20px;
    line-height: 0.5;
    text-transform: uppercase;
}
.subheading{
        color: black;
        font-size: 16px;
}

}









